body {
    font-family: "Roboto", sans-serif;
}

:root,
[data-bs-theme=light] {
    --bs-primary: #038edc;
    --bs-primary-100: #f2f3fe;
    --bs-card: #f3f7fa;
}

.bg-header {
    background-color: var(--bs-card) !important;
}

.chat_messenger_body .bg-light-info {
    background-color: #eef5fb !important;
}

.chat_messenger_body .bg-light-primary {
    background-color: #d6e7f5 !important;
}

.symbol-10px {
    width: 20px;
    height: 20px;
}

.symbol-10px img {
    width: 100%;
    height: 100%;
}

.mw-lg-230px {
    max-width: 230px;
}

.bg-chat {
    background-color: #f8f9fb;
}

.message-separator span {
    position: absolute;
    top: -8px;
    background-color: #fff;
    padding: 0 10px;
}

.w-48 {
    width: 48px;
    height: 48px;
}

.wc-user-list .symbol-circle {
    border: solid 1px #e3e3e3;
}

.user-icon img {
    width: 100%;
}

.hr-box {
    width: 1px;
    height: 100%;
    background-color: #e0e0e0;
    margin-left: 20px;
    margin-right: 20px;
}

.date-block {
    display: flex;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    border: solid 1px #e0e0e0;
    background-color: #fff;
    flex-direction: row;
}

.overview-card {
    border-radius: 8px;

    border: solid 1px rgba(221, 221, 221, 0.4);
    background-color: #fff;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overview-card.active {
    border: solid 1px rgba(3, 142, 220, 0.4);
    box-shadow: 0 2px 16px 0 rgba(46, 79, 91, 0.08);
}

.overview-card:hover {
    border: solid 1px rgba(3, 142, 220, 0.4);
    box-shadow: 0 2px 16px 0 rgba(46, 79, 91, 0.08);
}

.date-box {
    cursor: pointer;
}

.date-box label {
    color: #111;
    cursor: pointer;
}

.date-box span {
    color: #666;
}

.card-compose .form-control {
    min-height: 40px;
    padding: .625rem 1rem;
    height: 40px;
}

.form-control::-ms-input-placeholder {
    color: rgba(117, 121, 139, 1) !important;
}

.form-control::placeholder {
    color: rgba(117, 121, 139, 1) !important;
}

.card-compose .form-control::-ms-input-placeholder {
    /* Edge 12-18 */
    color: #666;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.card-compose .form-control::placeholder {
    color: #666;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.form-control {
    border-radius: 4px;
    border: solid 1px #e0e0e0;
    background-color: #fff;
    font-weight: normal;
    font-size: 16px;
    min-height: 48px;
}

.form-select-lg {
    padding: .625rem 1rem;
    font-size: 16px;
    border-radius: 4px;
    color: #666;
}

.form-control::placeholder {
    color: #666;
    opacity: 1;
    /* Firefox */
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.select2-container--bootstrap5 .select2-selection--single .select2-selection__placeholder {
    color: #666;
    opacity: 1;
    /* Firefox */
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.form-control::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #666;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.form-label {
    font-size: 14px;
    min-height: 14px;
    font-weight: normal;
    color: #111;
}

.form-check .form-check-input {
    width: 20px;
    height: 20px;
    border-color: #666666;
}

.form-check-input:checked {
    border-color: #17c653;
}

.characters-count {
    color: #999;
    font-size: 14px;
}

.bg-grey {
    background-color: #eaeaea;
}

.card-footer-compose {
    box-shadow: 0 0 1px 0 rgba(9, 30, 66, 0.12), 0 0 8px 0 rgba(9, 30, 66, 0.16);
    background-color: #f8fcff;
    padding: .75rem 2.25rem;
    border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
}

.card-footer-compose a {
    min-width: 137px;
}

.guide-note {
    background-color: #f5fbff;
}

/* menu */
.app-header {
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(45, 79, 94, 0.1);
}

.app-header .app-navbar {
    border-bottom: none;
}

.app-sidebar-header {
    padding: 0 12px 0 24px;
    transition: padding .3s ease !important;
    background-color: #fff;
    position: relative;
    z-index: 111;
    box-shadow: 0 2px 8px 0 rgba(45, 79, 94, 0.1);
    min-height: 60px;
}

.app-sidebar-menu-secondary.menu .menu-link.active {
    transition: color .2s ease;
    background-color: var(--bs-primary-100);
    color: var(--bs-primary);
    position: relative;
    border: none;
}

.app-sidebar-menu-secondary.menu .menu-link.active::before {
    width: 5px;
    height: 100%;
    content: '';
    position: absolute;
    left: -12px;
    background-color: #f2f3fe;
}

.app-sidebar-menu-secondary.menu .menu-link.active .menu-title {
    color: var(--bs-primary);
    font-size: 1rem;
}

.app-sidebar-menu-secondary.menu .menu-link.active .menu-title {
    font-weight: 600;
}

.app-sidebar-menu-secondary.menu .menu-link .menu-title {
    font-size: 1rem;
    font-weight: normal;
}

.app-sidebar-navs {
    box-shadow: 0 2px 20px 0 rgba(45, 79, 94, 0.16);
}

.user-name {
    color: #113741;
}

.hr {
    width: 1px;
    height: 20px;
    background-color: #ddd;
    display: flex;
}

.header-menu {
    display: flex;
}

.header-menu .menu-link.active {
    border-bottom: solid 1.8px #038edc;
}

.menu-item .header-menu a {
    flex: auto;
}

.fs-14 {
    font-size: 14px;
}

.fs-20 {
    font-size: 20px;
}

.text-gray {
    color: #495057;
}

.text-gray-dark {
    color: #666;
}

.text-black-light {
    color: #111 !important;
}

.text-date {
    color: #6b778c;
}

.wc-count {
    width: 24px;
    height: 24px;
    background-color: #2f7eb8;
    color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.wc-hr {
    margin: 0.75rem 0;
    border-top: solid 1px #dadef2;
    opacity: 1;
}

body .border-bottom-card {
    border-bottom: solid 0.4px rgba(27, 50, 94, 0.2);
}

.fs-32 {
    font-size: 32px;
}

.icon-info {
    padding: 10px;
    border-radius: 8px;
    background-color: #f0f9ff;
}

.fw-normal {
    font-weight: normal;
}

.card-title {
    border-bottom: solid 1px rgba(27, 50, 94, 0.2);
}

.completed {
    width: 84px;
    height: 24px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #aeecdb;
    font-size: 14px;
    color: #111;
    font-weight: normal;
}


.scheduled {
    width: 84px;
    height: 24px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #c3e9ff;
    color: #111;
}

.failed {
    width: 84px;
    height: 24px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #ecaeae;
    color: #111;
}

.app-footer {
    padding: 0px 24px;
    box-shadow: 0 2px 8px 0 rgba(45, 79, 94, 0.1);
    background-color: #fff;
}

.apexcharts-legend-marker {
    width: 30px;
    height: 30px;
    border-radius: 0 !important;
}

.bar-chart .apexcharts-legend {
    top: auto !important;

}

.bar-chart .apexcharts-legend {
    justify-content: space-between !important;
}

.apexcharts-legend {
    top: 10% !important;
    right: -15px !important;
}

.apexcharts-legend-text {
    margin-left: -9px !important;
}

.apexcharts-yaxis-title text {
    color: #666 !important;
    font-weight: normal;
    font-size: 12px;
}

.date-box input {
    padding: 0;
    min-height: auto;
    border: none;
    cursor: pointer;
    max-width: 100px;
}

.date-box input:focus-visible {
    outline: none;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    border: none;
}

@media only screen and (max-width: 1124px) {
    .overview-section .col {
        flex: 1 0 45% !important;
    }
}

@media only screen and (min-width: 768px) {
    .or-separator  {
       position: relative;
              width: 100% !important;
    }
 .or-separator::after  {
    content: '';
    width: 100%;
  border-bottom: 1px solid rgba(218, 222, 242, 1);
 }
    .or-separator p {
        position: absolute;
        background-color: #fff;
        padding: 0 10px;
                top: 10px;
    }

    
}
.mobile-btn {
    display: none;
}

@media only screen and (max-width: 1124px) {

 .carousel-card .carousel-card-item {
    max-width: 96%;
    margin: 0 auto;
 }

 .carousel-card {
    background-color: #fff !important;
    padding: 0;
 }

    .carouseloptiona .mobile-btn a {
        background-color: rgba(244, 250, 255, 1) !important;
        border: none !important;
        border-radius: 50px;
        margin-bottom: 24px;
        margin-top: 12px;
    }

    .body-list {
        margin: 10px 0;
    }

    .mobile-btn {
        display: block;
    }

    .carouseloptiona .headerlabel .btn-active-color-primary {
        display: none !important;
    }

    .imges-info {
        max-width: 256px;
        margin-top: 190px !important;
    }

    

    .preview-card {
        max-width: 70%;
          max-height: 180px;
    }

  

    .action-card {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .action-card a {
        max-width: fit-content;
    }
}

.mobile-img-preview {
    display: none;
}

.whatsapp-btn-action {
    flex-wrap: wrap !important;
}

@media only screen and (max-width: 1024px) {
    
.formcheck-block .row {
    gap: 5px;
}
    .add-quick-reply a{
        width: 100%;
    }
    .recommend-alert-content label {
        font-size: 14px !important;
    }

    .recommend-alert-content p {
        font-size: 14px !important;
    }

    .card-footer-compose {
        padding: 10px 5px;
        justify-content: center !important;
    }

    .card-footer-compose a {
        min-width: 120px;
        font-size: 12px;
        padding: 10px 5px !important;
    }

    .ql-toolbar.ql-snow {
        padding: 4px;
    }

    .carousel-card {
        padding: 0 !important;
    }

    .ql-format {
        display: flex;
    }

    .ql-showHtml {
        min-width: 40px !important;
    }

    .ql-snow .ql-toolbar button,
    .ql-snow.ql-toolbar button {
        padding: 3px 1px;
    }

    .dashboard-box .card.date-block>div.d-flex:nth-of-type(2) .hr-box {
        display: block;
        background-color: rgba(224, 224, 224, 1);
        height: 80px;
    }

    .whatsapp-btn-action {
        gap: 15px !important;
        width: 100%;
    }

    .whatsapp-btn-action a {
        width: 100% !important;
        max-width: 400px !important;
        margin: 0 auto;
    }

    .mobile-img-preview {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 20px;
        justify-content: space-between;
        border: 1px solid rgba(224, 224, 224, 1);
        padding: 10px;
        border-radius: 4px;
    }

    .mobile-img-preview a {
        min-width: 140px;
    }

    .mobile-img-preview img {
        max-height: 120px;
    }

    .suggested-card {
        margin: 15px 15px !important;
    }

    .suggested-card .card-header a {
        width: 100%;
    }



    .RCSCards-header {
        flex-direction: column;
    }

    .bottom-row {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .preview-card .preview-info {
        max-height: 145px;
        overflow: scroll;
    }

    .action-card {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .action-card a {
        max-width: fit-content;
    }

    .apexcharts-legend {
        top: auto !important;
        right: 0px !important;
    }

    .btn-action {
        margin-top: 20px;
    }

    .btn-action a {
        width: 100%;
        max-width: 220px;
        margin: 0 auto;
    }

    .dashboard-btn-action.btn-action a {
        width: 49%;
        max-width: max-content !important;
        margin: 0 auto;
        min-width: 49% !important;
    }

    .dashboard-btn-action {
        width: 100%;
    }

    .dashboard-date-block {
        flex-direction: column;
    }

    .date-block {
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
    }

    .date-block .hr-box {
        display: none;
    }

    .app-toolbar-wrapper {
        justify-content: start;
    }

    .app-toolbar-wrapper {
        width: 100%;
    }

    .app-footer {
        padding: 20px 10px;
    }

    .action-card a {
        font-size: 8px;
    }

    .mobile-nav {
        margin-top: 10px;
    }

    .mobile-nav .header-menu {
        display: flex;
        flex-direction: row !important;
    }

    .dashboard-box {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .dashboard-box .page-title {
        width: 100%;
    }

    [data-kt-app-header-fixed-mobile=true] .app-wrapper {
        margin-top: 120px;
    }

    .overview-section .col {
        flex: 1 0 100% !important;
    }

    .app-header {
        flex-direction: column;
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: auto;
        height: auto;
    }

}


.whatsapp-preview {
    display: none;
}

@media only screen and (max-width: 992px) {
    .card-preview {
        display: none;
    }

    .whatsapp-preview {
        display: block;
    }
}

.small-circle {
    width: 8px;
    height: 8px;
    background-color: #666;
    border-radius: 50px;
    display: flex;
}

.border-right {
    border-right: solid 1px rgba(27, 50, 94, 0.2) !important;
}

.text-red {
    color: #cd0000;
}


.dataTable th {
    background-color: rgba(197, 215, 228, 0.2) !important;
}

.table-bordered>:not(caption)>*>* {
    border-width: 1px;
    border-color: rgba(27, 50, 94, 0.1);
}

.dataTable td {
    color: #666;
    font-size: 14px;
}

.dt-column-title {
    color: #111;
    font-size: 14px;
    font-weight: 500;
}

.form-select {
    border-radius: 4px;
    border: solid 1px #e0e0e0;
    background-color: #fff;
    font-weight: normal;
    font-size: 16px;
    height: 43px;
}

.card .card-header.table-header {
    border-bottom: solid 1px rgba(27, 50, 94, 0.2) !important;
}

table.dataTable.table-bordered tr:last-child td,
table.dataTable.table-bordered tr:last-child th {
    border-bottom-width: 1px;
}

div.table-responsive>div.dt-container>div.row>div[class^=col-]:first-child {
    padding-left: 16px;
}

.dt-toolbar .form-select.form-select-solid {
    background-color: transparent;
}

.page-item {
    margin-right: 0;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item .page-link {
    border-radius: 0;
}

div.table-responsive>div.dt-container>div.row>div[class^=col-]:last-child {
    padding-right: 16px;
}

.select2-container .select2-selection--single {
    font-size: 14px;
}

.active>.page-link,
.page-link.active {
    background-color: #038edc;
}

.table-responsive {
    min-height: 300px;
}

.headerlabel {
    line-height: normal;
    display: block;
}

.headerlabel label {
    color: #172b4d;
    margin-bottom: 8px;
}

.headerlabel label span {
    color: #b2b2b2;
}

.mediaType .form-check-label {
    color: #111;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #038edc;
    border-color: #038edc;
}

.add-media {
    background-color: #f4faff;
    padding: 4px 8px;
    border-radius: 20px;
    height: 32px;
    min-width: 143px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #038edc;
    column-gap: 4px;
    cursor: pointer;
}

.formline .border-bottom {
    border-bottom: solid 1px rgba(27, 50, 94, 0.3) !important;
}

.form-check.form-check-solid .form-check-input:not(:checked) {
    background-color: #fff;
    border: solid 2px #666666 !important;
}

.form-check.form-check-custom-ignore.form-check-solid .form-check-input:not(:checked) {
    background-color: #fff;
    border: solid 2px #038edc !important;
    border-radius: 0;
}

.form-check.form-check-custom-ignore.form-check-solid .form-check-input:checked {
    border-radius: 0;
}


.form-or {
    height: 40px;
    color: #172b4d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
}

.form-group span.text {
    color: #999;
}

.form-Createtemplate {
    max-height: 540px;
    overflow-y: scroll;
    padding-right: 15px;
    padding-left: 15px;
}

.card-compose .col-lg-8 {
    padding-left: 0;
}

.button-option .col-lg-8 {
    padding-left: 10px;
}


.card-preview label {
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}

.card-preview .card-img img {
    max-width: 320px;
    object-fit: contain;
}

.form.form-control {
    height: auto;
}

.text-text-gray-700 {
    color: #172b4d;
}

.card-img {
       text-align: center;
    min-height: 560px;
    object-fit: cover;
    align-items: revert;
}

.template-list-download .menu-item a {
    color: #0a1f41;
    column-gap: 8px;
    font-size: 14px;
    font-weight: normal;
}

.w-content {
    min-width: fit-content
}

.wc-user-list .separator {
    margin: 0.75rem 0;
}

.wc-user-list .badge.badge-circle.badge-light-success {
    background-color: #2f7eb8;
    color: #fff;
}

.whats-header {
    border-bottom: solid 1px #ddd;
    background-color: #f6fbff
}

.chat-footer {
    border-radius: 8px;
    box-shadow: 0 2px 16px 0 rgba(46, 79, 91, 0.08);
    border: solid 1px rgba(221, 221, 221, 0.4);
    background-color: #fff;
    display: flex;
}


.separator-ro {
    font-weight: 600;
    color: #172b4d;
    margin-top: -10px;
}

.imges-info {
    max-width: 256px;
    margin-top: 195px;
}
.wapp-preview {
        min-height: auto !important;
        margin-top: 10px;
 }

 .wapp-preview .preview-info {
        display: flex;
    justify-content: space-between;
    width: 100%;
 }

 .wapp-preview p{
    margin-bottom: 0 !important;
 }
.preview-card {
    width: 80%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    padding: 8px;
    background-color: #fff;
    border-radius: 6px;
    position: relative;
}

.preview-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background: linear-gradient(225deg, #fff 0%, #fff 50%, transparent 50%, transparent);
}

.preview-card .preview-info {
    max-height: 170px;
    overflow: scroll;
}

.pdf-icon {
    margin-bottom: 4px;
}

.preview-info p {
    font-size: 10px;
    color: #666;
    text-align: left;
}

.max-w-150 {
    max-width: max-content;
    min-width: 140px;
}


.templates-card {
    border-radius: 10px;
    overflow: hidden;
    max-width: 400px;
    margin: 0 auto;
}

.templates-header {
    padding: 10px 16px;
    background-color: #075e55;
}

.bottom-zero {
    bottom: 0;
    width: 100%;
}

.templates-body {
    background-image: url(../images/wapp-bg.jpg);
    background-size: cover;
    background-size: 100%;
    background-repeat: repeat;
    padding: 10px 12px;
    background-position: center center;
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 326px;
}

.templates-body .preview-card {
    min-height: auto;
}

.templates-body .preview-info {
    min-height: auto;
}

.templates-body .preview-info p:last-child {
    margin-bottom: 0;
}

.action-card a {
    background-color: #fff;
    padding: 4px 6px;
    border-radius: 20px;
    color: #038edc;
    font-size: 12px;

}

.action-card {
    flex-wrap: wrap;
}

.preview-img-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #ebedf2;
    width: 100%;
    min-height: 120px;
}

.preview-img-block .preview-img {
    max-width: 80px;
}


.right-0 {
    right: 20px;
}

.modal-bot .modal-header {
    min-height: auto;
}

.modal-bot .modal-header span {
    color: #666666;
}

.bot-list li {
    position: relative;
    padding-left: 15px;
}

.bot-list li::after {
    width: 8px;
    height: 8px;
    background-color: #666;
    border-radius: 50px;
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
}

.action-card {
    margin-left: 50px !important;
}

/* new css 17-07-2024 */

.card-access-denied {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.card-error {
    max-width: 500px;
}

.form-hidden {
    display: none !important;
}

.form-active {
    display: block;
}


.modal-close-icon {
    position: absolute;
    right: 8px;
    top: 8px;
}


.form-modal .modal-header {
    border: none;
    padding-bottom: 0;
    justify-content: center;
    padding-top: 40px;
}

.form-modal .modal-body {
    padding-bottom: 0px;
    padding-top: 0px
}

.form-modal .modal-footer {
    border: none;
    margin-top: 15px;
}

.form-modal .modal-footer button {
    width: 100%;
    max-width: 303px;
    margin: 0 auto 30px;
}

.form-modal h1 {
    font-size: 36px;
    font-weight: 600;
    color: rgba(69, 69, 69, 1);
    margin-bottom: 12px;
}

.form-modal .modal-header p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 12px;
    color: rgba(101, 101, 101, 1);
}

.form-modal .modal-header p:last-child {
    margin-bottom: 0;
}

.form-modal .modal-content {
    border-radius: 20px;
}

.modal-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 24px;
}

.modal-grid input {
    width: 48px;
    min-width: 48px;
    max-width: 48px;
    padding: 5px;
    text-align: center;
}

.form-search {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.form-search .form-control {
    width: 100%;
}

.form-search span {
    position: absolute;
    right: 10px;
    top: 0;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.card-table-info tr th {
    color: rgba(120, 122, 130, 1);
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-right: 4px !important;
    text-align: center !important;
    vertical-align: middle;
}

.card-table-info tr th span {
    text-align: center;
    color: rgba(120, 122, 130, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.card-table-info tr th:first-child {
    min-width: 130px;
}

.card-table-info tr th:nth-of-type(2) {
    min-width: 90px;
}

.card-table-info tr th:nth-of-type(3) {
    min-width: 120px;
}

.card-table-info tr th:nth-of-type(4) {
    min-width: 90px;
}

.card-table-info tr td {
    text-align: center !important;
}

.card-table-info tr th {
    min-width: 100px;
}

.card-table-info tr td {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.card-table-info tr td .active {
    color: #17c653
}

.card-table-info tbody tr td {
    color: rgba(120, 122, 130, 1);
    vertical-align: middle;
    font-size: 14px;
    line-height: normal;
}

.card-table-info .dt-info {
    display: none;
}

.card-table-info .btn-primary {
    min-width: 90px;
    font-size: 11px;
    padding: 4px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.card-table-info .btn-primary img {
    width: 12px;
}

.card-table-info tbody tr:nth-child(odd) td {
    color: #777;
}

.card-table-info tbody tr:nth-child(even) td {
    background: rgba(243, 247, 250, 1);
}


.no-data {
    min-height: 203px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-date-block {
    display: flex;
    gap: 5px;
    padding-right: 2px;
}

.dashboard-date-block .page-title {
    width: 100% !important;
}

.dashboard-box .date-block {
    width: 100%;
}



.alert-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1111;
    background-color: rgba(59, 58, 58, 0.783);
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmation_alerts {
    box-shadow: 0px 8px 8px -1px rgba(16, 24, 40, 0.03);
    box-shadow: 0px 20px 24px -1px rgba(16, 24, 40, 0.08);
    background: rgba(255, 255, 255, 1);
    padding: 24px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    min-height: 204px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 12px;
    margin: 20px;
}

.confirmation_alerts svg {
    margin-bottom: 24px;
}

.confirmation_alerts label {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 33px;
}

.RCSCards-header {
    display: flex;
    justify-content: space-between;
}

.RCSCards-header label {
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: left;
    color: rgba(23, 43, 77, 1);
}

.RCSCards-list ul {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    flex-wrap: wrap;
}


.RCSCards-list li .RCSCards-item {
    background: rgba(3, 142, 220, 1);
    padding: 4px 6px;
    border-radius: 4px;
    display: flex;
    max-width: max-content;
    gap: 4px;
}

.RCSCards-list li label {
    color: #fff;
}

.RCSCards-list li img {
    cursor: pointer;
}

.bot-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100dvh;
    z-index: 11111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bot-modal::after {
    content: '';
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 100%;
    top: 0;
    z-index: 1;
}

.bot-inner-modal {
    margin: 20px;
    max-width: 564px;
    min-height: 586px;
    border-radius: 8px 0px 0px 0px;
    width: 100%;
    position: relative;
    z-index: 111;
}

.bot-inner-modal .card-header {
    height: auto;
    padding: 18px 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    display: flex;
    align-items: center;
    border-bottom: 0.4px solid rgba(27, 50, 94, 0.2);
    min-height: auto;
    background: rgba(243, 247, 250, 1);

}

.bot-inner-modal .card-header span {
    color: rgba(102, 102, 102, 1);
}

.bot-inner-modal .card .card-body {
    padding: 20px 16px;
}

.bot-inner-modal .card .card-body p {
    color: rgba(102, 102, 102, 1);
}

.bot-inner-modal .card-body h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    text-align: left;
    margin-bottom: 12px;
}

.bot-inner-modal .card-body ul li span {
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    text-align: left;
}

.bot-inner-modal .card-body ul li:last-child {
    margin-bottom: 0;
}

.bot-inner-modal .card-body ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
}

.bot-inner-modal .card-body ul li::after {
    width: 8px;
    height: 8px;
    background: rgba(102, 102, 102, 1);
    content: '';
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 4px;
}

.popover {
    z-index: 1111111;
}

.badge-light-primary {
    color: #17c653;
}

.media-note {
    color: rgba(120, 122, 130, 1);
    margin-bottom: 20px;
}


.carouseloptiona .headerlabel {
    display: flex;
    justify-content: space-between;
}

::file-selector-button {
    border: none;
    background: rgba(243, 247, 250, 1);
    width: 121px;
    height: 40px;
    padding: 4px 12px 4px 12px;
    border-radius: 4px 0px 0px 4px;
    border: 1px 0px 0px 0px;
}

.fileInput {
    border: 1px solid rgba(224, 224, 224, 1);
    width: 100%;
    height: 40px;
    border-radius: 4px;
}

.file-note {
    color: rgba(223, 44, 44, 1);
    margin-top: 8px;
}

.quill-editor-toolbar {
    background: rgba(243, 247, 250, 1);
    display: flex;
    justify-content: space-between;
}

.carousel-card {
    background: rgba(3, 142, 220, 0.05);
    width: 100%;
    border-radius: 20px;
    padding: 16px 24px;
    display: flex;
    align-items: start;
    gap: 15px;
    flex-wrap: wrap;
}

.body-list h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    color: rgba(23, 43, 77, 1);
}

.headerlabel label {
    font-size: 16px !important;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    color: rgba(23, 43, 77, 1);
}

.body-list ul li {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: left;
    color: rgba(102, 102, 102, 1);
    margin-top: 8px;
}

.btn-body-row {
    margin-bottom: 40px !important;
}

.select-button-type {
    background: rgba(3, 142, 220, 1);
    color: #fff;
}


.select-button-type .select2-selection__placeholder {
    color: #fff !important;
}

.select-button-type .select2-selection__rendered {
    color: #fff !important;
}

.carousel-card-item {
    border: 1px solid rgba(3, 142, 220, 0.4);
    max-width: 365px;
    border-radius: 8px;
    overflow: hidden;
    max-width: 48%;
}

.carousel-card-item-header {
    background: rgba(243, 247, 250, 1);
    padding: 13px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-card-item-header label {
    background: rgba(3, 142, 220, 1);
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-card-item-header .close-icon {
    cursor: pointer;
}

.carousel-card-item-body {
    padding: 16px;
    background: rgba(255, 255, 255, 1);
}

.typeofmarketing .mediaType {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.typeofmarketing .mediaType p {
    margin: 10px 0;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: left;
}

.typeofmarketing .form-check-label {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
    color: rgba(120, 122, 130, 1);
}

.form-label {
    color: rgba(17, 17, 17, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
}

.body-option .quill-editor-toolbar::after {
    display: none;
}

.body-option .card-footer-compose {
    left: 0;
    position: relative;
}

.form-WhatsappCreatetemplate {
    position: relative;
}

.recommend-alert {
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    gap: 20px;
    box-shadow: 0px 1px 34px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-shadow: 0px 1px 34px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.recommend-alert::after {
    content: '';
    background: rgba(27, 183, 80, 1);
    height: 100%;
    border-radius: 8px 0px 0px 8px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 20px;
    width: 10px;
}

.recommend-alert-content label {
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    margin-bottom: 15px;
}


.recommend-alert-content p {
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    margin-bottom: 0;
}


.Quickfromselect {
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(114, 188, 230, 1);
    background: rgba(3, 142, 220, 1);
    outline: none;
    padding: 10px;
    font-size: 16px;
    max-width: 350px;
    width: 100%;
    color: #fff;
    border-radius: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    position: relative;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 26px;
}


.btn-close-icon {
    border: 1px solid rgba(255, 154, 164, 1);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.quick-input {
    width: 100%;
}

.quick-row {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.static-form-select {
    min-width: 120px;
}

.option-flag {
    width: 20px;
    height: 15px;
    margin-right: 10px;
    vertical-align: middle;
}

.country-number {
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-number select {
    height: 40px;
    margin-bottom: 12p;
}

.country-number #country-select {
    outline: none;
    padding: 10px;
    font-size: 16px;
    max-width: 350px;
    width: 100%;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    position: relative;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 26px;
    border-radius: 4px 0 0 4px;
    background: rgba(243, 247, 250, 1);
    border: 1px solid rgba(224, 224, 224, 1);
}

.country-number input {
    border-left: none;
    border-radius: 0 2px;
}

.offer-code-row {
    display: flex;
    gap: 8px;
    align-items: start;
}

.offer-code-row .btn-close-icon {
    margin-top: 22px;
}

.offer-code-row .note-offer {
    gap: 15px;
}

.offer-code-row .note-offer p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}







.country-number .select-box {
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    background-color: white;
}

.country-number .selected {
    font-size: 16px;
    background-color: rgba(243, 247, 250, 1);
    display: flex;
    align-items: center;
    gap: 2px;
    min-height: 100%;
    height: 40px;
    border-radius: 4px 0 0 4px;
    border: 1px solid rgba(224, 224, 224, 1);
    padding: 0 35px 0 15px;
    position: relative;
}

.country-number .selected::after {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23038EDC' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    right: 0;

}

.country-number .options-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    background-color: white;
    z-index: 1;
}

.country-number .options-container.active {
    display: block;
}

.country-number .option {
    padding: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.country-number .option:hover {
    background-color: #f1f1f1;
}

.country-number .option-flag {
    width: 20px;
    height: 15px;
    margin-right: 10px;
}

.whatsapp-preview-item {
    border: 1px dotted rgba(224, 224, 224, 1);
    padding: 10px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
}


.whatsapp-action {
    width: 100%;
    display: flex;
    align-items: center;
}

.whatsapp-action a {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}


.custom-select-wrapper {
    position: relative;
    max-width: 345px;
}

.custom-select {
    position: relative;
}

.custom-select select {
    display: none; /* Hide the default select */
}

.custom-select::after {
    content: "";
    font-size: 12px;
    position: absolute;
    right: 0;
    transform: translateY(-0%);
    pointer-events: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center center;
           width: 50px;
    height: 44px;
    top: 1px;
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(3, 121, 187, 1);
}

.custom-select-trigger {
    display: block;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(114, 188, 230, 1);
    background: rgba(3, 142, 220, 1);
       border-radius: 10px;
    cursor: pointer;
    color: #fff;
        font-size: 16px;
     
}

.custom-options {
    position: absolute;
    top: 114%;
    left: 0;
    right: 0;
    border: 1px solid #fff;
    border-top: none;
    background: #fff;
    display: none;
    z-index: 2;
    box-shadow: 0px 1px 34px 0px rgba(0, 0, 0, 0.1);
border-radius: 8px;

}

.custom-option {
    cursor: pointer;
}


.custom-optgroup {
    font-weight: bold;
    background-color: #f9f9f9;
    text-align: left;
    padding: 24px 24px 18px;
    border-bottom: 1px solid rgba(224, 224, 224, 1)
}

.custom-optgroup:last-child {
    border-bottom: none;
}

.custom-optgroup-title {
font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
}

.custom-optgroup .custom-option {
    padding-top: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
    text-align: left;
   color: rgba(117, 117, 117, 1);
   margin-top: 16px;
}

.custom-optgroup .custom-option span{
font-size: 14px;
font-weight: 400;
line-height: 18.2px;
text-align: left;
color: rgba(102, 102, 102, 1);
 display: flex;
flex-direction: column;
}

.add-question-modal .form-label{
  font-weight: 600;
}

.add-question-modal .form-label span {
    color: rgba(17, 17, 17, 1);
    font-weight: normal;
}


.formcheck-block label {
    margin-bottom: 8px;
}

.formcheck-block label .form-check-label {
color: rgba(17, 17, 17, 1);
font-size: 14px;
font-weight: 600;
line-height: 16.41px;
border-radius: 2px;
}

.formcheck-block label input{
        border-radius: .25em !important;
}

.formcheck-block .btn-check-danger {
  border: 1px solid rgba(253, 87, 58, 1) !important;
  background: rgba(253, 87, 58, 0.1);
}

.formcheck-block .checkbox-row {
  margin-bottom: 20px;
} 

.formcheck-block .form-check-label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    line-height: normal;
    flex-wrap: wrap;
}

.formcheck-block .form-check-label p {
color: rgba(17, 17, 17, 1);
margin: 0;
opacity: 0.6;
}


.daterangepicker .calendar-time {
    background-color: #007bff;
    padding: 10px;
    border-radius: 4px;
        padding-left: 0px !important;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    width: 60px !important;
    height: 50px;
    font-size:16px !important;
    text-align: center;
}